article {
  header {
    margin-bottom: rem-calc(32);
  }

  footer {
    border-top: 1px solid $primary-color;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: $margin-medium;
    margin-bottom: $margin-small;

    &.tight {
      margin-top: $margin-small;
      margin-bottom: $margin-small;
    }
  }

  hr {
    margin-top: rem-calc(32);
    margin-bottom: rem-calc(32);
  }

  .feature-icon {
    > img {
      max-height: 100px;
      @media #{$medium-up} {
        max-height: 150px;
      }
    }
  }

  .feature-icon, .feature-label {
    text-align: center;
  }

  .feature-label {
    font-size: $h2-font-size;
  }

  .comment-link, .more, .subdued {
    color: $subdued-color;
    font-size: rem-calc(14);
  }

  .license-statement {
    color: $subdued-color;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
