#home-feature {
  background: url(/assets/img/header-hero.jpg) #A0C9E9 70%/cover no-repeat;
  text-align: left;
  padding-top: 0;
  padding-bottom: $padding-small;

  @media #{$medium-up} {
    @include expand-top($padding-medium);
    @include expand-bottom($padding-medium);
  }

  .headline, .subhead { color: $body-font-color; }

  #social-cta {
    margin-top: rem-calc(18);
    margin-left: 0;
    padding-left: 0;
    display: inline-block;

    font-size: rem-calc(18);
    white-space: nowrap;

    @media #{$medium-up} {
      font-size: rem-calc(36);
    }

    li {
      display: block;

      hr {
        border-color: $primary-color;
      }

      a {
        display: inline-block;
        color: darken($primary-color, 10%);

        min-height: rem-calc(36);

        @media #{$medium-up} {
          min-height: inherit;
        }

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

#sandy-feature {
  background: url(/assets/img/2012-10-27-following-frankenstorm/hurricane-sandy-night.jpg) #444 50% no-repeat;
  background-size: cover;

  .headline, .subhead, .byline, time {
    color: $color-white-pure;

    a {
      color: $color-white-pure;
    }
  }

  .headline, .subhead, .byline, time {
    @include stroke($body-font-color);
  }
}

#weather-with-python-feature {
  background: url(/assets/img/2013-07-05-displaying-the-weather-with-python/lightning.jpg) #F0CCE9 50% no-repeat;
  background-size: cover;

  .headline, .subhead, .byline, time {
    color: $body-font-color;

    a {
      color: $body-font-color;
    }
  }

  .headline, .subhead, .byline, time {
    @include stroke($color-white-pure);
  }
}
