.social {
  margin-left: 0;
  padding-left: 0;

  a:hover {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  li {
    font-size: 1.6em;
    display: inline-block;
    margin-left: 0.2em;
    margin-right: 0.2em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
