<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.summary.size > 0 %}<meta name="description" content="{{ page.summary }}">{% else %}<meta name="description" content="{{ content | strip_html | remove_first: 'TrevorParker.com' | remove_first: page.title | split: ' ' | join: ' ' | truncatewords: 25 }}">{% endif %}
{% if page.tags.size > 0 %}<meta name="keywords" content="{{ page.tags | join: ', ' }}, trevor, parker, trevor parker">{% else %}<meta name="keywords" content="technology, programming, perl, python, ruby, go, golang, music, photography, trevor, parker, trevor parker">{% endif %}
<title>{% if page.title.size > 0 %}{{ page.title }} - {% elsif paginator.page > 1 %}Page {{ paginator.page }} - {% endif %}Trevor Parker</title>

<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/assets/img/favicon.ico">
<!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->

<link rel="icon" type="image/png" sizes="195x195" href="/assets/img/favicon-195.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon-152.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon-144.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon-120.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon-72.png">
<link rel="apple-touch-icon-precomposed" href="/assets/img/favicon-57.png">
<meta name="msapplication-TileColor" content="#0969A2">
<meta name="msapplication-TileImage" content="/assets/img/favicon-144.png">

<link rel="stylesheet" href="/assets/css/syntax.css?2014020400">
<link rel="stylesheet" href="/assets/css/site.min.css?2014020800">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

<script src="/assets/js/vendor/modernizr.js"></script>
