<ul class="social">
  <li><a href="http://github.com/trevorparker" title="Trevor on GitHub" target="_blank"><i class="fa fa-github"></i></a></li>
  <li><a href="https://plus.google.com/107238073607515316367" title="Trevor on Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
  <li><a href="http://twitter.com/trevorparker" title="Trevor on Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a href="http://www.linkedin.com/in/trevorparker/" title="Trevor on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
</ul>
