---
layout: default
---

{% include top_bar.html %}

<article id="page-{{ page.id | replace: '/', '' }}">
  <section{% if page.feature.size %} id="{{ page.feature }}-feature"{% endif %} class="hero buffer-large-bottom">
    <div class="row">
      <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
        <header>
          <h2 class="headline"><a href="{{ page.url | replace: 'index.html', '' }}" itemprop="name">{{ page.title }}</a></h2>
        </header>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
        {{ content }}
      </div>
    </div>
  </section>
</article>
