<section id="site-footer">
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-8 large-centered columns">
      <p id="copyright" class="left">Copyright &copy; 2009-{{ site.time | date: "%Y" }} Trevor Parker.</p>
      <div class="right hide-for-small-only">
        {% include icons.html %}
      </div>
    </div>
  </div>
</section>

{% include foundation_js.html %}

<script type="text/javascript">
$(document).ready(function() {
  $('a[href^="#"]').click(function(){
    $('html, body').animate({
        scrollTop: $(this.hash).offset().top
    }, 500);
    return false;
  });
});
</script>

{% include disqus_js.html %}
{% include ga_js.html %}

