<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.summary.size > 0 %}<meta name="description" content="{{ page.summary }}">{% else %}<meta name="description" content="{{ content | strip_html | remove_first: 'TrevorParker.com' | remove_first: page.title | split: ' ' | join: ' ' | truncatewords: 25 }}">{% endif %}
{% if page.tags.size > 0 %}<meta name="keywords" content="{{ page.tags | join: ', ' }}, trevor, parker, trevor parker">{% else %}<meta name="keywords" content="technology, programming, perl, python, ruby, go, golang, music, photography, trevor, parker, trevor parker">{% endif %}

<meta property="og:title" content="{% if page.title.size > 0 %}{{ page.title }}{% elsif paginator.page > 1 %}Page {{ paginator.page }} - Trevor Parker{% else %}Trevor Parker{% endif %}">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.trevorparker.com/assets/img/favicon-228.png?4c98f1d7">
<meta property="og:site_name" content="Trevor Parker">
<meta property="og:url" content="https://www.trevorparker.com{{ page.url | replace: 'index.html', '' }}">
<meta property="og:description" content="{% if page.summary.size > 0 %}{{ page.summary }}{% else %}{{ content | strip_html | remove_first: 'TrevorParker.com' | remove_first: page.title | split: ' ' | join: ' ' | truncatewords: 25 }}{% endif %}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@trevorparker">
<meta name="twitter:creator" content="@trevorparker">
<meta name="twitter:description" content="{% if page.summary.size > 0 %}{{ page.summary }}{% else %}{{ content | strip_html | remove_first: 'TrevorParker.com' | remove_first: page.title | split: ' ' | join: ' ' | truncatewords: 25 }}{% endif %}">

<title>{% if page.title.size > 0 %}{{ page.title }} - {% elsif paginator.page > 1 %}Page {{ paginator.page }} - {% endif %}Trevor Parker</title>

<!--[if IE]><link rel="shortcut icon" href="/assets/img/favicon.ico?3aa0b9f1"><![endif]-->
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/assets/img/favicon.ico?3aa0b9f1">

<link rel="icon" type="image/png" sizes="195x195" href="/assets/img/favicon-195.png?82d5419e">
<link rel="icon" type="image/png" sizes="228x228" href="/assets/img/favicon-228.png?4c98f1d7">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon-152.png?c2b5ff44">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon-144.png?246f19b4">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon-120.png?ceb901ca">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon-114.png?ca75c910">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon-72.png?3f2747db">
<link rel="apple-touch-icon-precomposed" href="/assets/img/favicon-57.png?03f3019f">

<meta name="msapplication-TileImage" content="/assets/img/favicon-144.png?246f19b4">
<meta name="msapplication-TileColor" content="#008CBA">

<link rel="stylesheet" href="/assets/css/app.min.css?22a1d104">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
<script src="/assets/js/modernizr.min.js?d1e46096"></script>

