<div class="row">
  <div class="small-12 small-centered medium-9 large-9 columns">
    <nav id="top-nav" class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Trevor Parker</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"></a></li>
      </ul>

      <section class="top-bar-section">
        {% include nav_left.html %}
      </section>

      <section class="top-bar-section">
        {% include nav_right.html %}
      </section>
    </nav>
  </div>
</div>
