---
layout: default
---

<div class="row">
  <div class="small-12 small-centered medium-9 large-9 columns">
    <nav class="breadcrumbs">
      <a href="/">TrevorParker.com</a>
      <a class="current" href="{{ page.url | remove: '/index.html' }}/">{{ page.title }}</a>
    </nav>
    <article id="post-{{ page.id }}" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h2><a href="{{ page.url }}/" itemprop="name">{{ page.title }}</a></h2>
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %d, %Y" }}
        </time>
        <span class="byline">
          &ndash; by <a href="https://plus.google.com/107238073607515316367" rel="author">Trevor Parker</a>
        </span>
      </header>
      {{ content }}
    </article>
  </div>
</div>

<div class="row">
  <div id="comments" class="small-12 small-centered medium-9 large-9 columns">
  {% include disqus.html %}
  </div>
</div>
